@inherits LayoutComponentBase

<main>
    <header>
        <div class="name">
            <h1><span class="bold">Github</span> <span class="light">Jobs</span></h1>
        </div>
    </header>
    <div class="content-ppal">
        @Body
    </div>
    <footer>
        <p> joseluisroot  DevChallenges.io</p>
    </footer>
</main>
