@page "/filmdetails"
@page "/filmdetails/{id:int}"
@using Films.Model
@using Interfaces
@inject IFilmService FilmService
@inject NavigationManager NavManager

<h3>Film Details</h3>

<EditForm Model="@films">
    <table class="table">
        <tr>
            <td>
                title:
            </td>
            <td>
                <input type="text" @bind="films.title" />
            </td>
        </tr>
        <tr>
            <td>
                Director:
            </td>
            <td>
                <input type="text" @bind="films.director" />
            </td>
        </tr>
        <tr>
            <td>
                Release Date:
            </td>
            <td>
                <input type="text" @bind="films.releaseDate" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Guardar" @onclick="guardarFilm" />
                <input type="button" value="Cancelar" @onclick="cancelarFilm" />
            </td>
        </tr>
    </table>

</EditForm>

@code {

    [Parameter]
    public int id { get; set; }

    Film films = new Film();

    protected void cancelarFilm()
    {
        NavManager.NavigateTo("/filmlist");
    }

    protected async Task guardarFilm()
    {
        await FilmService.save(films);
       
    }

    protected override async Task OnInitializedAsync()
    {
        if (id == 0)
        {
            films.releaseDate = DateTime.Now;
        }
        else
        {
            films = await FilmService.getDetails(id);

        }
    }

}
